<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script defer src="/scripts/index.js"></script>
  </head>
  <body>
    <form class="form">
      <div>
        <label for="email">Enter Email: </label>
        <input id="email" type="email" name="email" placeholder="email" />
      </div>
      <button type="submit">Login</button>
    </form>

    <form class="form hidden">
      <div>
        <label for="otp">Enter OTP: </label>
        <input id="otp" type="otp" name="otp" placeholder="otp" />
      </div>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
